.about {
    background-color: #0a2750;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.about__title {
    font-family: Inter;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    max-width: 251px;
    margin: 100px 0 0 80px;
    z-index: 2;
}

.about__content {
    max-width: 660px;
    margin: 119px 80px 173px 0;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}

.about__paragraph {
    font-family: Noto serif;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin: 0;
}

.about__circle {
    border-radius: 50%;
    position: absolute;
    top: -152px;
    left: -129px;
    background-color: #2f80ed;
    width: 426px;
    height: 426px;
    z-index: 0;
}

.about__circle_animation_blurred {
    
    animation-name: pulsate;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0;
}

@keyframes pulsate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}