.header {
    background-color: #ffffff;
    background-image: url("../images/background_header.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header__title {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: italic;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
    margin: 0;
    font-weight: normal;
    margin-top: 80px;
    margin-left: 80px;
    max-width: 729px;
    z-index: 1;
}

.header__span-accent {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 60px;
    font-style: normal;
    line-height: 72px;
    color: #000;
    z-index: 1;
}

.header__description {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0 0 80px;
    max-width: 683px;
    font-weight: normal;
    font-style: normal;
    /* for the line above, I was told to add font-weight from the brief. I did not include this originally as it is listed as "normal" in the brief. */
    z-index: 1;
}

.header__paragraph {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6f6f6f;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
    margin: 0 80px 40px 80px;
    z-index: 1;
}

.header__paragraph-heading {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.header__paragraph-address {
    align-self: flex-end;
    margin: 0;
}

.header__list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;

}

.header__image {
    width: 646px;
    height: 568px;
    position: absolute;
    top: 124px;
    right: 5px;
}

