.reservation {
    background-color: #D9E7FF;
    background-image: url("../images/background_reservation.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.reservation__title {
    font-family: Inter;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin-top: 100px;
}

.reservation__form {
    max-width: 385;
    margin: 80px 0 120px; 
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: none;
}

.form__label {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.form__checkbox {
    display: flex;
    justify-content: space-between;
    height: 20px;
}

.form__input {
    font-family: Inter;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
    height: 60px;
    margin-bottom: 32px;
    width: 315px;
}

.form__button {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: #2f80ed;
    color: #fff;
    margin-bottom: 32px;
    height: 60px;
    width: 315px;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 1s linear;
}

.form__button:hover {
    opacity: .7;
}

.check {
    height: 20px;
    width: 20px;
    margin: 0 12px 0 0; 
    border-radius: 2px;
}